button {
    width: 80px;
    height: 30px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 4px;
    background-color: rgb(43, 125, 233);
    border-color: rgb(43, 125, 233);
}