h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

img {
    position: absolute;
    left: 0px;
    top: 200px;
    z-index: -1;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 80px;
    height: 30px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 4px;
    background-color: rgb(43, 125, 233);
    border-color: rgb(43, 125, 233);
}