<link rel='stylesheet' href="{{  url_for('static', filename='css/apps.css')  }}">
<header>
    <div class="container">
        <h1 class="logo"></h1>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/apps">Apps</a></li>
                <li><a href="/apps/help">Help</a></li>
                <li><a href="/apps/make">Make an App</a></li>
                <li><a href="/credits">Credits</a></li>
            </ul>
        </nav>

    </div>
</header>
<title>Apps</title>
</link>
<h1>Apps</h1>
<script>
    function copy(id) {
        var box = document.getElementById(id)
        box.select()
        document.execCommand('copy')
    }

    function search() {
        var searched = document.getElementById('search').value
        var item = document.getElementById(searched)
        item.scrollIntoVeiw()
    }
</script>
<input id='search' class='search' type="text" placeholder='Search'></input>
<button onclick="search();">Search</button>
<br>

<h3 class="appear">jhg,j</h3>
<p class="appear">lI code a lot. I code more than anyone else. I am the best coder. YES. </p>
<button onclick='copy("1w");'>Get for Windows</button>
<button onclick='copy("1m");'>Get for Mac</button>
<textarea width=1 height=1 class="appear" wrap="off" readonly
    id="1w">print("I would say a basement-realted joke about Windows, but that's beneath me")</textarea>
<textarea width=1 height=1 class="appear" wrap="off" readonly id="1m">print("I'm the best coder")</textarea>
<br>
<p class="appear">_______________________________________</p>
<br>
<h3 class="appear"> new app 1</h3>
<p class="appear">a new application</p>
<button onclick='copy("1w");'>Get for Windows</button>
<button onclick='copy("1m");'>Get for Mac</button>
<textarea width=1 height=1 class="appear" wrap="off" readonly id="1w">#include<stdio.h>
#include<string.h>
#include<stdlib.h>

void main(void) {

int a = 0;
int b = 0;
int c;
c = a+b;
printf("%i", &c);
return (0);
}</textarea>
<textarea width=1 height=1 class="appear" wrap="off" readonly id="1m">#include<stdio.h>
#include<string.h>
#include<stdlib.h>

void main(void) {

int a = 0;
int b = 0;
int c;
c = a+b;
printf("%i", &c);
return (0);
}
</textarea>
<br>
<h3 class="appear">fbrekuw</h3>
<p class="appear">ngthrueigk</p>
<button onclick='copy("1w");'>Get for Windows</button>
<button onclick='copy("1m");'>Get for Mac</button>
<textarea width=1 height=1 class="appear" wrap="off" readonly id="1w">gntrsliutlol</textarea>
<textarea width=1 height=1 class="appear" wrap="off" readonly id="1m">thnrldijkh</textarea>
<br><p class="appear">_______________________________________</p>
<br>
<h3 class="appear">jgrseoul</h3>
<p class="appear">hbgerlu</p>
<button onclick='copy("2w");'>Get for Windows</button>
<button onclick='copy("2m");'>Get for Mac</button>
<textarea width=1 height=1 class="appear" wrap="off" readonly id="2w">hrutoiywl</textarea>
<textarea width=1 height=1 class="appear" wrap="off" readonly id="2m">grnktuwy</textarea>
<br><p class="appear">_______________________________________</p>
<br>
<h3 class="appear">ubu</h3>
<p class="appear">ubu</p>
<button onclick='copy("3w");'>Get for Windows</button>
<button onclick='copy("3m");'>Get for Mac</button>
<textarea width=1 height=1 class="appear" wrap="off" readonly id="3w">ubutu</textarea>
<textarea width=1 height=1 class="appear" wrap="off" readonly id="3m">ubu</textarea>
<br><p class="appear">_______________________________________</p>