{% block stylesheet %}{% endblock %}
<header>
    <div class="container">
        <h1 class="logo"></h1>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/apps">Apps</a></li>
                <li><a href="/apps/help">Help</a></li>
                <li><a href="/apps/make">Make an App</a></li>
                <li><a href="/credits">Credits</a></li>
                {% block back %}{% endblock %}

            </ul>
        </nav>

    </div>
</header>
{% block content %}{% endblock %}
