{% extends "base.html" %}
{% block stylesheet %}
<link rel='stylesheet' href="{{  url_for('static', filename='css/used.css')  }}">
{% endblock %}
{% block content %}
<title>Credits</title>

<p>This website uses Flask, a Python web app package that allows you to create web apps.

    Want to know how we made this website? Click <a href='/templates'>here</a>
</p>
{% endblock %}