{% extends "base.html" %}
{% block stylesheet %}
<link rel='stylesheet' href="{{  url_for('static', filename='css/templates.css')  }}">
{% endblock %}
{% block content %}
<script type="text/javascript">
    // Popup window code
    function newPopup(url) {
        popupWindow = window.open(
            url, 'popUpWindow',
            'height=576,width=952,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=yes'
        )
    }
</script>



<!-- LOOK AT ME -->


<body>

    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li><a href="/templates"><i></i>Templates Home</a></li>
                <li><a href="/templates/previews"><i></i>Previews</a></li>
                <li><a href="/templates/downloads"><i></i>Downloads</a></li>
                <li><a href="https://gitlab.com/nikhilsha-coder/flask-project/-/tree/master/Python%20App%20Store"> <i
                            class="downloads"></i>Git Repo
            </ul>
        </div>
        <div class="main_content">
            <div class='header'>
                <h1>Viewable Templates</h1>
            </div>
            <div class="info">
                <div class='header'>
                    <h4>HTML</h4><br>
                    <a class='templatelinks'
                        href='JavaScript:newPopup("{{  url_for("static", filename="html/templates.html.txt")  }}")'>templates.html</a>
                    <a class='templatelinks'
                        href='JavaScript:newPopup("{{  url_for("static", filename="html/downloadtemplates.html.txt")  }}")'
                        download>templates/downloads.html</a>
                    <a class='templatelinks'
                        href='JavaScript:newPopup("{{  url_for("static", filename="html/viewtemplates.html.txt")  }}")'
                        download>templates/previews.html</a>
                    <a class='templatelinks'
                        href='JavaScript:newPopup("{{  url_for("static", filename="html/appshelp.html.txt")  }}")'>apps/help.html</a>
                    <a class='templatelinks'
                        href='JavaScript:newPopup("{{  url_for("static", filename="html/apps.html.txt")  }}")'>apps.html</a><br><br><br>
                    <a class='templatelinks'
                        href='JavaScript:newPopup("{{  url_for("static", filename="html/appsmake.html.txt")  }}")'>apps/make.html</a>
                    <a class='templatelinks'
                        href='JavaScript:newPopup("{{  url_for("static", filename="html/404.html.txt")  }}")'>404.html</a>
                    <a class='templatelinks'
                        href='JavaScript:newPopup("{{  url_for("static", filename="html/500.html.txt")  }}")'>500.html</a>
                    <a class='templatelinks'
                        href='JavaScript:newPopup("{{  url_for("static", filename="html/credits.html.txt")  }}")'>credits.html</a><br><br><br>
                    <h4>Base Templates</h4><br>
                    <a class='templatelinks'
                        href='JavaScript:newPopup("{{  url_for("static", filename="html/base.html.txt")  }}")'>base1.html</a><br><br><br>
                    <h4>CSS</h4><br>
                    <a class='templatelinks'
                        href='JavaScript:newPopup("{{  url_for("static", filename="css/templates.css")  }}")'>templates.css</a>
                    <a class='templatelinks'
                        href='JavaScript:newPopup("{{  url_for("static", filename="css/appshelp.css")  }}")'>apps/help.css</a>
                    <a class='templatelinks'
                        href='JavaScript:newPopup("{{  url_for("static", filename="css/apps.css")  }}")'>apps.css</a>
                    <a class='templatelinks'
                        href='JavaScript:newPopup("{{  url_for("static", filename="css/appsmake.css")  }}")'>apps/make.css</a>
                    <a class='templatelinks'
                        href='JavaScript:newPopup("{{  url_for("static", filename="css/404.css")  }}")'>404.css</a>
                    <a class='templatelinks'
                        href='JavaScript:newPopup("{{  url_for("static", filename="css/500.css")  }}")'>500.css</a>
                    <a class='templatelinks'
                        href='JavaScript:newPopup("{{  url_for("static", filename="css/credits.css")  }}")'>credits.css</a>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}