h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 80px;
    height: 30px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 4px;
    background-color: rgb(43, 125, 233);
    border-color: rgb(43, 125, 233);
}

h1 {
    font-weight: 100;
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
    margin: 0;
    background: aliceblue;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: rgb(189, 56, 56);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: aliceblue;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: aliceblue;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}