button {
    width: 80px;
    height: 30px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 4px;
    background-color: rgb(189, 56, 56);
    border-color: rgb(189, 56, 56);
}

@keyframes appearance {
    0% {
        color: aliceblue;
        visibility: 0%;
    }

    20% {
        color: rgb(226, 226, 226);
        visibility: 20%;
    }

    40% {
        color: rgb(189, 188, 188);
        visibility: 40%;
    }

    60% {
        color: rgb(151, 151, 151);
        visibility: 60%;
    }

    80% {
        color: rgb(105, 105, 105);
        visibility: 80%;
    }

    100% {
        color: rgb(44, 44, 44);
        visibility: visible;
    }
}

@keyframes searchbar {
    0% {
        width: initial;
        height: initial;
    }

    20% {
        width: 100;
        height: 10;
    }

    40% {
        width: 120;
        height: 20;
    }

    100% {
        width: 160;
        height: 30;
    }


}

.search {
    animation-name: searchbar;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards
}

.appear {
    animation-name: appearance;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.appear textarea {
    width: 10px;
    height: 5px;
}

body {
    margin: 0;
    background: aliceblue;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: rgb(189, 56, 56);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: aliceblue;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: aliceblue;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}