button {
    width: 100px;
    height: 40px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 4px;
    background-color: rgb(189, 56, 56);
    border-color: rgb(189, 56, 56);
}

@keyframes appearance {
    0% {
        color: aliceblue;
        visibility: 0%;
    }

    20% {
        color: rgb(226, 226, 226);
        visibility: 20%;
    }

    40% {
        color: rgb(189, 188, 188);
        visibility: 40%;
    }

    60% {
        color: rgb(151, 151, 151);
        visibility: 60%;
    }

    80% {
        color: rgb(105, 105, 105);
        visibility: 80%;
    }

    100% {
        color: rgb(44, 44, 44);
        visibility: visible;
    }
}

@keyframes searchbar {
    0% {
        width: initial;
        height: initial;
    }

    20% {
        width: 100;
        height: 10;
    }

    40% {
        width: 120;
        height: 20;
    }

    100% {
        width: 160;
        height: 30;
    }


}

.search {
    animation-name: searchbar;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards
}

.appear {
    animation-name: appearance;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.appear textarea {
    width: 10px;
    height: 5px;
}

body {
    margin: 0;
    background: aliceblue;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: rgb(189, 56, 56);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
    order: ascending;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: aliceblue;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: aliceblue;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

a.templatelinks {
    background-color: red;
    box-shadow: 0 5px 0 darkred;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 1000ms;
}

a.templatelinks:hover {
    background-color: #ce0606;
    cursor: pointer;
    transition: all ease-in-out 250ms;
    text-decoration: none;
    color: white;
}

a.templatelinks:active {
    box-shadow: none;
    top: 5px;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: aliceblue;
}

.wrapper {
    display: flex;
    position: fixed;

}

.wrapper .sidebar {
    width: 200px;
    height: 100%;
    background: rgb(0, 0, 0);
    padding: 30px 0px;
    position: fixed;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid aliceblue;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    transition-duration: 500ms;
}


.wrapper .sidebar ul li a {
    color: aliceblue;
    display: block;
    text-decoration: none;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background-color: #BD3838;
    text-decoration: none;
}

.wrapper .sidebar ul li:hover a {
    color: aliceblue;
}



.wrapper .main_content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header {
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px;
}

.wrapper .main_content .info div {
    margin-bottom: 20px;
}