<meta charset="UTF-8">
<link rel="stylesheet" href="{{  url_for('static', filename='css/Welcome.css')}}  ">
<h1 class='header'>Welcome to my Flask Website</h1>
<p class='links'>Goto 127.0.0.1/dja for dad jokes</p>