{% extends "base.html" %}
{% block stylesheet %}
<link rel='stylesheet' href="{{  url_for('static', filename='css/appsmake.css')  }}">
{% endblock %}
{% block content %}
<h1>Make an App</h1>
<form method="POST">
    <input name='name' type='text' placeholder="Name"></input>
    <br>
    <textarea name='descrip' id='descrip' cols=20 rows=6 placeholder="Description"></textarea>
    <br>
    <textarea name='maccode' id='maccode' cols=240 rows=200 placeholder="Mac Code"></textarea>
    <br>
    <textarea name="wincode" id='wincode' cols=240 rows=200 placeholder="Windows Code"></textarea>
    <br>
    <input type="submit"></input>
</form>
{% endblock %}