<link rel='stylesheet' href="{{  url_for('static', filename='css/apps.css')  }}">
<header>
    <div class="container">
        <h1 class="logo"></h1>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/apps">Apps</a></li>
                <li><a href="/apps/help">Help</a></li>
                <li><a href="/apps/make">Make an App</a></li>
                <li><a href="/credits">Credits</a></li>
            </ul>
        </nav>

    </div>
</header>
<title>Apps</title>
</link>
<h1>Apps</h1>
<script>
    function copy(id) {
        var box = document.getElementById(id)
        box.select()
        document.execCommand('copy')
    }

    function search() {
        var searched = document.getElementById('search').value
        var item = document.getElementById(searched)
        item.scrollIntoVeiw()
    }
</script>
<input id='search' class='search' type="text" placeholder='Search'></input>
<button onclick="search();">Search</button>
<br>
<br>
<h3 class="appear">Test Application</h3>
<p class="appear">This is an app to test the website</p>
<button onclick='copy("1w");'>Get for Windows</button>
<button onclick='copy("1m");'>Get for Mac</button>
<textarea width=1 height=1 class="appear" wrap="off" readonly id="1w">"Testing on Windows"</textarea>
<textarea width=1 height=1 class="appear" wrap="off" readonly id="1m">"Testing on Mac"</textarea>
<br>
<h3 class="appear">Test Application Part 2</h3>
<p class="appear">Second part of testing the website.</p>
<button onclick='copy("3w");'>Get for Windows</button>
<button onclick='copy("3m");'>Get for Mac</button>
<textarea width=1 height=1 class="appear" wrap="off" readonly id="3w">"Testing Still..."</textarea>
<textarea width=1 height=1 class="appear" wrap="off" readonly id="3m">"Testing Still..."</textarea>
<br><p class="appear">_______________________________________</p>