{% block stylesheet %}{% endblock %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<header>
    <div class="container">
        <h1 class="logo"></h1>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/apps">Apps</a></li>
                <li><a href="/apps/help">Help</a></li>
                <li><a href="/apps/make">Make an App</a></li>
                <li><a href="/credits">Credits</a></li>
                {% block back %}{% endblock %}

            </ul>
        </nav>

    </div>
</header>
{% block content %}{% endblock %}