{% extends "base.html" %}
{% block stylesheet %}
<link rel='stylesheet' href="{{  url_for('static', filename='css/templates.css')  }}">
{% endblock %}
{% block content %}



<div class="wrapper">
    <div class="sidebar">
        <ul>
            <li><a href="/templates"><i></i>Templates Home</a></li>
            <li><a href="/templates/previews"><i></i>Previews</a></li>
            <li><a href="/templates/downloads"><i></i>Downloads</a></li>
            <li><a href="https://gitlab.com/nikhilsha-coder/flask-project/-/tree/master/Python%20App%20Store"><i></i>Git
                    Repo</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class='header'>
            <h1>Downloadable Templates</h1>
        </div>
        <div class="info">
            <div class='header'>
                <h4>Full Zip Packages</h4><br>
                <a class='templatelinks' href="{{  url_for('static', filename='Version 2.0.zip')  }}" download>Version
                    2.0 Zip
                    Package</a>
                <a class='templatelinks' href="{{  url_for('static', filename='Version 1.0.zip')  }}" download>Version
                    1.0 Zip
                    Package</a>
                <a class='templatelinks' href="{{  url_for('static', filename='Python App Store Client.zip')  }}"
                    download>Python App Store Client Zip</a><br><br><br>
                <h4>HTML</h4><br>
                <a class='templatelinks' href='{{  url_for("static", filename="html/templates.html")  }}'
                    download>templates.html</a>
                <a class='templatelinks' href='{{  url_for("static", filename="html/downloadtemplates.html")  }}'
                    download>templates/downloads.html</a>
                <a class='templatelinks' href='{{  url_for("static", filename="html/viewtemplates.html")  }}'
                    download>templates/previews.html</a>
                <a class='templatelinks' href='{{  url_for("static", filename="html/appshelp.html")  }}'
                    download>apps/help.html</a>
                <a class='templatelinks' href='{{  url_for("static", filename="html/apps.html")  }}'
                    download>apps.html</a><br><br><br>
                <a class='templatelinks' href='{{  url_for("static", filename="html/appsmake.html")  }}'
                    download>apps/make.html</a>
                <a class='templatelinks' href='{{  url_for("static", filename="html/404.html")  }}'
                    download>404.html</a>
                <a class='templatelinks' href='{{  url_for("static", filename="html/500.html")  }}'
                    download>500.html</a>
                <a class='templatelinks' href='{{  url_for("static", filename="html/credits.html")  }}'
                    download>credits.html</a><br><br><br>
                <h4>Base Templates</h4><br>
                <a class='templatelinks' href='{{  url_for("static", filename="html/base.html")  }}'
                    download>base1.html</a><br><br><br>
                <h4>CSS</h4><br>
                <a class='templatelinks' href='{{  url_for("static", filename="css/templates.css")  }}'
                    download>templates.css</a>
                <a class='templatelinks' href='{{  url_for("static", filename="css/appshelp.css")  }}'
                    download>apps/help.css</a>
                <a class='templatelinks' href='{{  url_for("static", filename="css/apps.css")  }}' download>apps.css</a>
                <a class='templatelinks' href='{{  url_for("static", filename="css/appsmake.css")  }}'
                    download>apps/make.css</a>
                <a class='templatelinks' href='{{  url_for("static", filename="css/404.css")  }}' download>404.css</a>
                <a class='templatelinks' href='{{  url_for("static", filename="css/500.css")  }}' download>500.css</a>
                <a class='templatelinks' href='{{  url_for("static", filename="css/credits.css")  }}'
                    download>credits.css</a>
            </div>
        </div>
    </div>
</div>




{% endblock %}