{% extends "base.html" %}
{% block stylesheet %}
<link rel='stylesheet' href='{{  url_for("static", filename="css/home.css")  }}'>
{% endblock %}
{% block content %}
<!-- WOOOK AT MEEE!!!! -->
<title>Welcome to the Python App Store</title>
<h1>Welcome to the Python App Store</h1>
<p>Hello and welcome to the Python App Store.</p>
{% endblock %}