{% extends "base.html" %}
{% block stylesheet %}
<link rel='stylesheet' href="{{  url_for('static', filename='css/templates.css')  }}">
{% endblock %}
{% block content %}

<body>

    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li><a href="/templates"><i></i>Templates Home</a></li>
                <li><a href="/templates/previews"><i class="previews"></i>Previews</a></li>
                <li><a href="/templates/downloads"><i class="downloads"></i>Downloads</a></li>
                <li><a href="https://gitlab.com/nikhilsha-coder/flask-project/-/tree/master/Python%20App%20Store"><i
                            class="downloads"></i>Git Repo</a>
                </li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header">
                <h1>Templates Home
                </h1>
                <p>This is the Templates Home page. You can view or download HTML and CSS files from the sidebar.</p>
                <br><br><br>
                <h2>Terms of Download</h2>
                <a href='/templates/downloads/termsofuse'>Terms Page</a>
            </div>
        </div>
    </div>
    </div>

</body>


{% endblock %}