.header{
  text-align: center;
  color:rgb(100, 100, 129);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
}
.links{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
