<title>Make an App</title>
<link rel='stylesheet' href="{{  url_for('static', filename='css/appsmake.css')  }}">
<form method="POST">
    <input name='name' type='text' placeholder="Name"></input>
    <br>
    <textarea name='descrip' cols=20 rows=6 placeholder="Description"></textarea>
    <br>
    <textarea name='maccode' cols=240 rows=200 placeholder="Mac Code"></textarea>
    <br>
    <textarea name="wincode" cols=240 rows=200 placeholder="Windows Code"></textarea>
    <br>
    <input type="submit" onclick="alert('App Uploaded')"></input>
</form>