<title>Help on Apps</title>
<link rel='stylesheet' href="{{  url_for('static', filename='css/appshelp.css')  }}"></link>
<button onclick=window.location.href='/apps'>Back</button>
<h1>Help</h1>
<h4>Making Apps</h4>
<p>To make an app go to 127.0.0.1:5000/apps and press the "+" button. It will bring up a very large tab. Fill out the boxes. After you've done that, click the submit button at the very bottom of the page. Then, all the textboxes shoud be empty. Click the "Back" button located on the page and your app should appear.</p>
<h4>Downloading Apps</h4>
<p>To download an app go to the wesite homepage and press the "App Store" button. Scroll through the apps and find the one that you want to get. Click "Get for Windows" or "Get for Mac". Once that's done open your IDE and make a new file. On Windows press Control + P, on Mac press Command + P. Run the program and your chosen app should run.</p>