<title>Apps</title>
<link rel='stylesheet' href="{{  url_for('static', filename='css/apps.css')  }}"></link>
<h1>Apps</h1>
<button onclick=window.location.href='/'>Back</button>
<button onclick=window.location.href='/apps/make'>+</button>
<button onclick=window.location.href='/apps/help'>Help</button>
<script>

    function copy(id){
        var box = document.getElementById(id)
        box.select();
        document.execCommand('copy')
    }
</script>

<br>
<h4>rygdurgv</h4>
<p>qfhyudsawgU</p>
<button onclick='copy("1w1");'>Get for Windows</button>
<button onclick='copy("1m1");'>Get for Mac</button>
<textarea wrap="off" readonly id="1w1">mdfhvjG</textarea>
<textarea wrap="off" readonly id="1m1">BGYJFSAJQY</textarea>
<br>_______________________________________
<br>_______________________________________
<h4>`g6uy</h4>
<p>giyujfg</p>
<button onclick='copy("1w");'>Get for Windows</button>
<button onclick='copy("1m");'>Get for Mac</button>
<textarea wrap="off" readonly id="1w">jtdu</textarea>
<textarea wrap="off" readonly id="1m">yufg</textarea>
<br>_______________________________________