<!-- <img src='{{  url_for("static", filename="backdrop1.png")  }}'></img> -->
<title>Welcome to the Python App Store</title>
<link rel='stylesheet' href='{{  url_for("static", filename="css/home.css")  }}'>
<img src="{{  url_for('static', filename='backdrop1.png')  }}"></img>
<h1>Welcome To the Python App Store</h1>
<p>Click the button below to open the Python App Store</p>
<button onclick=window.location.href="/apps">App Store</button>
<button onclick=window.location.href='/credits'>Credits</button>