<title>Credits</title>
<link rel='stylesheet' href="{{  url_for('static', filename='css/used.css')  }}">
<p>This website uses Flask, a Python web app package that allows you to create web apps. I have to thank Armin Ronacher (Who I don't actually know) for creating this wonderful and easy-to-use package.</p>